<div class="row row-cols-lg-4 row-cols-sm-1 row-cols-md-2 justify-content-center">
    <div class="col">
        <label for="cat14" data="cat14" class="form-label">Mythology: <%=chosenSet.cat14%></label>
        <input type="range" min="0" max="1" step="0.05" value="<%=chosenSet.cat14%>" class="form-range" id="cat14" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat15" data="cat15" class="form-label">Literature: <%=chosenSet.cat15%></label>
        <input type="range" min="0" max="1" step="0.05" value="<%=chosenSet.cat15%>" class="form-range" id="cat15" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat16" data="cat16" class="form-label">Trash: <%=chosenSet.cat16%></label>
        <input type="range" min="0" max="1" step="0.05" value="<%=chosenSet.cat16%>" class="form-range" id="cat16" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat17" data="cat17" class="form-label">Science: <%=chosenSet.cat17%></label>
        <input type="range" min="0" max="1" step="0.05" value="<%=chosenSet.cat17%>" class="form-range" id="cat17" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat18" data="cat18" class="form-label">History: <%=chosenSet.cat18%></label>
        <input type="range" min="0" max="1" step="0.05" value="<%=chosenSet.cat18%>" class="form-range" id="cat18" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat19" data="cat19" class="form-label">Religion: <%=chosenSet.cat19%></label>
        <input type="range" min="0" max="1" step="0.05" value="<%=chosenSet.cat19%>" class="form-range" id="cat19" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat20" data="cat20" class="form-label">Geography: <%=chosenSet.cat20%></label>
        <input type="range" min="0" max="1" step="0.05" value="<%=chosenSet.cat20%>" class="form-range" id="cat20" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat21" data="cat21" class="form-label">Fine Arts: <%=chosenSet.cat21%></label>
        <input type="range" min="0" max="1" step="0.05" value="<%=chosenSet.cat21%>" class="form-range" id="cat21" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat22" data="cat22" class="form-label">Social Sciences: <%=chosenSet.cat22%></label>
        <input type="range" min="0" max="1" step="0.05" value="<%=chosenSet.cat22%>" class="form-range" id="cat22" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat25" data="cat25" class="form-label">Philosophy: <%=chosenSet.cat25%></label>
        <input type="range" min="0" max="1" step="0.05" value="<%=chosenSet.cat25%>" class="form-range" id="cat25" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat26" data="cat26" class="form-label">Current Events: <%=chosenSet.cat26%></label>
        <input type="range" min="0" max="1" step="0.05" value="<%=chosenSet.cat26%>" class="form-range" id="cat26" onchange="updateTextInput(this.value, this.id);">
    </div>
</div>