<div class="reveal" id="flashCards">
    <div class="slides font-monospace">
        <%clues.forEach( (c,i) => {%>
        <section class="d-flex" data-transition="zoom" data-slide="u_<%-c.ID%>" data-answer="u_<%-c.ANSWER_ID%>">
            <section class="vertical-center justify-content-center">
                <div>
                    <h2 class="text-wrap"><%-c.CLUE%></h2>
                </div>
            </section>
            <section class="d-flex vertical-center  justify-content-center">
                <div>
                    <h2 class="text-wrap"><%-c.ANSWER%></h2>
                </div>
            </section>
            <section class="d-flex vertical-center  justify-content-center">
                <div>
                    <h2 class="text-wrap">Clue Frequency: <%-c.CLUE_FREQUENCY%> <br> Answer Frequency: <%-c.ANSWER_FREQUENCY%> <br> Difficulty: <%-c.DIFFICULTY%> - <%-c.SKEW_DIFFICULTY%> <br> Tournament: <%-c.TOURNAMENT_NAME%></h2>
                </div>
            </section>
        </section>
        <%})%>
    </div>
</div>