<!DOCTYPE html>
<html lang="english">

    <!-- Header -->
    <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>

        <%-include('../partials/globals/navbar.ejs')%>

        <%-include('../partials/createSet/scripts/tableInitScript.ejs')%>

        <div class="container">

            <!-- Title of the page -->
            <%-include('../partials/createSet/titleInput.ejs')%>

            <!-- Range selectors from ejs -->
            <%-include('../partials/createSet/rangeSelect.ejs')%>

            <!-- Included Answerlines title -->
            <%-include('../partials/createSet/answerTitle.ejs')%>

            <!-- Selected Answers Table -->
            <%-include('../partials/createSet/selectedAnswersTable.ejs')%>

            <!-- Search Answers input field -->
            <%-include('../partials/editSets/searchAnswer.ejs')%>

            <!-- Answers table init -->
            <%-include('../partials/editSets/answersTable.ejs')%>

            <!-- Answers table scripts -->
            <%-include('../partials/editSets/scripts/tableScript.ejs')%>
            <%-include('../partials/editSets/scripts/socketUpdateScript.ejs')%>

            <!-- Selected Table Script -->
            <%-include('../partials/createSet/scripts/selectedTableScript.ejs')%>

            <!-- Create button -->
            <%-include('../partials/createSet/createButton.ejs')%>

            <!-- Create button script -->
            <%-include('../partials/createSet/scripts/createButtonScript.ejs')%>

        </div>

        <%-include('../partials/createSet/scripts/rangeScript.ejs')%>

        <%-include('../partials/globals/footer.ejs')%>

    </body>


</html>