<!DOCTYPE html>
<html lang="english">

    <!-- Header -->
        <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>
        <%-include('../partials/globals/navbar.ejs')%>

        <%-include('../partials/sets/scripts/chartCdn.ejs')%>

        <div class="container">
            <hr>
            <h3>
                Edit: <%=chosenSet.name%> -
                <small class="text-muted" id="totalHolder">Total: 1</small>
            </h3>
            <hr>
            <div class="row row-cols-lg-4 row-cols-sm-1 row-cols-md-2 justify-content-center">
                <%-include('../partials/editSets/rangeSelect.ejs')%>
            </div>

            <div class="row justify-content-center">
                <div class="col-4">
                    <form class="form-floating">
                        <input type="text" class="form-control" id="floatingInputSearch" placeholder="Answers">
                        <label for="floatingInputSearch">Search Answers</label>
                    </form>
                </div>
                <div class="col-1 my-auto">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
            <br>

            <script>
                $('#floatingInputSearch').on('input', function(){
                   console.log('typing...');
                });
            </script>

            <%-include('../partials/editSets/saveButtons.ejs')%>
            <br>
        </div>

        <%-include('../partials/editSets/scripts/rangeScript.ejs')%>

        <%-include('../partials/globals/footer.ejs')%>
    </body>


</html>