<!DOCTYPE html>
<html lang="english">

    <!-- Header -->
        <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>
        <%-include('../partials/globals/navbar.ejs')%>

        <%-include('../partials/sets/scripts/chartCdn.ejs')%>

        <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

        <div class="container">

            <!-- Title of the page -->
            <%-include('../partials/editSets/titleHold.ejs')%>

            <!-- Range selectors from ejs -->
            <%-include('../partials/editSets/rangeSelect.ejs')%>

            <!-- Search Answers input field -->
            <%-include('../partials/editSets/searchAnswer.ejs')%>

            <!-- Answers table init -->
            <%-include('../partials/editSets/answersTable.ejs')%>

            <!-- Answers table scripts -->
            <%-include('../partials/editSets/scripts/tableScript.ejs')%>
            <%-include('../partials/editSets/scripts/socketUpdateScript.ejs')%>

            <!-- Save buttons html -->
            <%-include('../partials/editSets/saveButtons.ejs')%>

        </div>

        <%-include('../partials/editSets/scripts/rangeScript.ejs')%>

        <%-include('../partials/globals/footer.ejs')%>
    </body>


</html>