<!DOCTYPE html>
<html lang="english">

    <!-- Header -->
        <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>

        <%-include('../partials/globals/navbar.ejs')%>

        <div class="holder">
            <%-include('../partials/sets/scripts/chartCdn.ejs')%>

            <%-include('../partials/editSets/scripts/tableInitScript.ejs')%>

            <%-include('../partials/editSets/addElements.ejs')%>

            <%-include('../partials/editSets/scripts/rangeScript.ejs')%>
        </div>

        <%-include('../partials/globals/footer.ejs')%>

        <%-include('../partials/editSets/scripts/toastScript.ejs')%>

    </body>


</html>