<!DOCTYPE html>
<html lang="english">

    <!-- Header -->
        <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>
        <%-include('../partials/globals/navbar.ejs')%>

        <%-include('../partials/sets/scripts/chartCdn.ejs')%>

        <div class="container">
            <hr>
            <h3>
                Edit: <%=chosenSet.name%> -
                <small class="text-muted" id="totalHolder">Total: 1</small>
            </h3>
            <hr>
            <div class="row row-cols-lg-4 row-cols-sm-1 row-cols-md-2 justify-content-center">
                <%-include('../partials/editSets/rangeSelect.ejs')%>
            </div>
            <div class="container d-flex justify-content-center">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary">Save</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <%-include('../partials/editSets/scripts/rangeScript.ejs')%>

        <%-include('../partials/globals/footer.ejs')%>
    </body>


</html>