<!DOCTYPE html>
<html lang="english">

    <!-- Header -->
        <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>
        <%-include('../partials/globals/navbar.ejs')%>

        <div class="holder">
            <%-include('../partials/home/intro.ejs')%>
            <%-include('../partials/home/contact.ejs')%>
        </div>
        <%-include('../partials/globals/footer.ejs')%>

    </body>
</html>