<!DOCTYPE html>
<html lang="english">

    <!-- Header -->
        <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>
        <%-include('../partials/globals/navbar.ejs')%>

        <%-include('../partials/home/intro.ejs')%>
        <%-include('../partials/home/contact.ejs')%>

        <%-include('../partials/globals/footer.ejs')%>
    </body>
</html>