<!DOCTYPE html>
<html lang="english">

    <!-- Header -->
    <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>

    <%-include('../partials/globals/navbar.ejs')%>

    <%-include('../partials/editSets/scripts/tableInitScript.ejs')%>
    <div class="holder">
        <%-include('../partials/progressView/seenTable.ejs')%>
        <%-include('../partials/progressView/unseenTable.ejs')%>
    </div>

    <%-include('../partials/globals/footer.ejs')%>

    </body>


</html>