<!DOCTYPE html>
<html lang="english">

    <!-- Header -->
        <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>
        <%-include('../partials/globals/navbar.ejs')%>

        <%-include('../partials/sets/scripts/chartScript.ejs')%>
        <div class="container">
                <%-include('../partials/sets/chart.ejs')%>
        </div>



        <%-include('../partials/globals/footer.ejs')%>
    </body>


</html>