<!DOCTYPE html>
<html lang="english">
    <!-- Header -->
    <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>
        <%-include('../partials/globals/navbar.ejs')%>

        <%-include('../partials/train/progressBar.ejs')%>

        <div class="holder" id="trainHold" style="border-width: 0.3rem; border-style: solid; border-color: #111111">

            <%-include('../partials/train/slider.ejs')%>

            <%-include('../partials/train/savedToast.ejs')%>

            <%-include('../partials/train/disconnectToast.ejs')%>

        </div>


        <%-include('../partials/globals/footer.ejs')%>

        <%-include('../partials/train/addScripts.ejs')%>

    </body>

</html>