<!DOCTYPE html>
<html lang="english">
    <!-- Header -->
    <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>
        <%-include('../partials/globals/navbar.ejs')%>

        <%-include('../partials/train/progressBar.ejs')%>

        <div class="holder">

            <%-include('../partials/train/slider.ejs')%>

        </div>


        <%-include('../partials/globals/footer.ejs')%>

        <%-include('../partials/train/addScripts.ejs')%>

    </body>

</html>